<html>
    <head>
        <title>
            Create album
        </title>
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=false">
    </head>
    <body>
        <h1>Create new Album</h1>
       <div id="formelementdiv"> 
        <form action="/create/album" method="POST">
         <input type="text" name="albumname" id="fname" placeholder="Album Name"><br>
         <textarea name="albumdescription" id="album-description" placeholder="Album description"></textarea>
         <input type="Submit" id="submit" value="Create Album">
        </form>
    </div>
    </body>
</html>