<html>
    <head>
        <title>
            Forgot password
        </title>
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <script src="/Check.js"></script>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=false">
    </head>
    <body>  
     <div id="signupdiv">
         <h1>Forgot password</h1>
     </div>
      <div id="formelementdiv1">  
        <form action="/forgotpass" method="POST">
         <input type="email"  name="username" id="userid" placeholder="Enter your email" required><br>
         <input type="submit" value="Reset password" id="submit">
        </form>
      </div> 
    </body>
</html>