<html>
  <head>
      <title>
          Digital Photo Frame
      </title>
      <link rel="stylesheet" href="/style.css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body id="landing">
     <div class="divimg">
      <div id="showimg">   
        <a href="/check" class="viewimg">View gallery</a>
      </div>
     </div>
     <script src="/style.js"></script>
  </body>
</html>