<html>
    <head>
        <title>
            Reset password page
        </title>
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalabale=false">
        <script src="/Check.js"></script>
    </head>
    <body>  
     <div id="signupdiv">
         <h1>Reset password</h1>
     </div>
      <div id="formelementdiv1">  
        <form action="/resetpass/<%=username%>?_method=PUT" method="POST" onsubmit="return check()">
         <input type="password"  name="password" id="password" placeholder="Password" required><br>
         <input type="password"  name="confirm"  id="retypepassword" placeholder="Renter New Password" required><br>
         <input type="submit" value="Reset password" id="submit">
        </form>
      </div> 
    </body>
</html>